@using UniPlatform.Models;
@model UniPlatform.Models.Duyurular

@{
    ViewBag.Title = "Duyuru Detay";
}




<div class="row divborder" style="height:100%; ">

    <!--  sol taraf başlangıç -->
    <div class="col-md-2" style="background-color:rgba(0,0,255,.1); height:500px;" id="menuPanel">
        <h1 class="lead" style="background-color:rgba(0,0,255,.1);  float:initial; right:0px; left:0px;">Mevcut Duyurular</h1>

        <div class="menu">
            <ul id="notlarMenu" class="nav nav-pills nav-stacked"></ul>
        </div>
    </div>
    <!--  sol taraf bitiş-->
    <!--  sağ taraf başlangıç -->
    <div class="col-md-10 vl" style="background-color:rgba(0,0,0,.2); height:100%;">
        <div class="input-group form-control" style="margin-top:25px; ">
            <h4 style="font-weight:bold;"> @Model.DuyuruBaslik</h4>
            <p> @Model.Icerik</p>
            <div class="form-group green-border-focus" style="margin-top:75px;">
            </div>
            <div class="buttonContainer">
                <div class="statusDiv text-success">
                    <span id="statusMessage"></span>
                </div>
            </div>
        </div>
        <div class="pull-right">

            @Model.ApplicationUser.UserName - @Model.DuyuruTarihi
            <br />

        </div>


        <div id="yorumlar" style=" margin-top:3%">

            @foreach (var item in ViewBag.Yorumlar as ICollection<DuyuruYorumlar>)
            {
                @Html.Raw("<div style='border-radius:50px; padding:10px; background-color:powderblue'>" + item.YorumIcerik + "</div><br>")
            }

        </div>
        @if (User.IsInRole("user"))
        {
            <div style="margin-top:1%;">
                <textarea id="txtYorum" class="form-control" rows="5"></textarea><input type="button" id="yorumEkle" class="btn btn-primary form-control" value="Yorum Ekle" style="height:50px; margin-top:5px;" />
            </div>
            <!--  sağ taraf bitiş-->
        }
        <p style="height:128px;"> </p>

    </div>

</div>

<script>

    $("#yorumEkle").click(function () {
        if ($.trim($("#txtYorum").val()) == "") {
            alert("Lütfen Yorum giriniz!");
        }
        else {
            $.ajax({
                method: "post",
                url: "/api/Duyuru/YorumEkle",
                data: {
                    YorumIcerik: $("#txtYorum").val(),
                    DuyuruID: @Model.ID
                },
                success: function (result) {
                    YorumEkle($("#txtYorum").val());
                    $("#txtYorum").val("");
                }
            });
        }
    });


    function YorumEkle(yorum) {
        username = " @ViewBag.KullaniciAdi ";
        tarih ="@DateTime.Now";
        $("#yorumlar").append("<div style='border-radius:50px; padding:10px; background-color:powderblue'>" + yorum + "<br> <strong>" + username + "</strong> -" + tarih +"</div><br>");
        };


</script>








