@model UniPlatform.Models.Duyurular

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Duyurular</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DuyuruTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DuyuruTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DuyuruBaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DuyuruBaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnayliMi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnayliMi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DuyuranId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DuyuranId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
